# Logs
tas-frontend/logs
tas-frontend/*.log
tas-frontend/npm-debug.log*
tas-frontend/yarn-debug.log*
tas-frontend/yarn-error.log*
tas-frontend/pnpm-debug.log*
tas-frontend/lerna-debug.log*

tas-frontend/node_modules
tas-frontend/dist
tas-frontend/dist-ssr
tas-frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


tas-backend/node_modules
# Keep environment variables out of version control
tas-backend/.env

tas-backend/dist/

tas-backend/generated/prisma

